html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: 'Roboto';
    text-align: center;
    background: #22272B;
    overflow-x: hidden;
  }

.container {
    width: 100%;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 20px;
}

  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 20px 6px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background: #2C343A;
    width: 100%;
    text-align:left;
    padding:10px;
  }
  
  .card:hover {
    box-shadow: 8px 16px 32px 0 rgb(0, 0, 0);
  }
  
  .cont {
    padding: 2px 16px;
  }

  .glyphicon-heart {
      color: greenyellow;
  }

.fa-android {
    color: greenyellow;
}

h3 {
    color: whitesmoke;
}

p {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

input {
    background-color: #F1F1F1; 
}